<div class="card">
  <div class="card-content">
    <span class="card-title">Nueva propuesta</span>

    <div class="row">
      {{tenpines/input-text label='Titulo' value=tema.titulo col='s4' }}
      <div class="input-field col s4">
      <select class="browser-default" onchange={{action seleccionarDuracion value="target.value" }} >
        <option value="" disabled selected >Elija una duracion</option>
        {{#each duraciones as |duracion|}}
          <option value={{duracion.duracion}}>{{duracion.descripcion}} ({{duracion.cantidadDeMinutos}} minutos)</option>
        {{/each}}
    </select>
      </div>
      {{tenpines/text-area label='Descripcion' value=tema.descripcion col='s12' }}

    </div>

  </div>
  <div class="card-action right-align">
    <a class="waves-effect waves-light btn {{guardarHabilitado}}" onclick={{alGuardar}} >Guardar</a>
  </div>
</div>
