<div class="card">
  <a class="btn-floating waves-effect waves-light red right"  {{action cerrarEditor}}><i class="material-icons ">close</i></a>
  <div class="card-content">
    <span class="card-title">Nueva propuesta</span>

    <div class="row ">

      {{tenpines/input-text label='Titulo' value=tema.titulo col='s4' }}
      <div style="height: 2px" >
      <label >  Duracion</label>
      </div>

        <div class=" col s4"  style="line-height: 6"  >
          {{#power-select
            options=nombreDeDuraciones
            selected=tema.duracion
            noMatchesMessage=""
            searchEnabled=false
            placeholder="Seleccione los asistentes a la reunión "
            onchange=(action (mut tema.duracion))
          as |duracion|
          }}
            {{duracion}} {{minutos-de-duracion duracion duraciones }}
          {{/power-select}}

      </div>
      <div style="line-height: 6">
        {{materialize/check-box label='Obligatorio' checked=esObligatorio checkboxClasses="filled-in" disabled=checkboxDeshabilitado}}
      </div>
      {{tenpines/text-area label='Descripcion' value=tema.descripcion col='s12' }}
    </div>

  </div>
  <div class="card-action right-align">
    <a class="waves-effect waves-light btn {{guardarHabilitado}}" onclick={{alGuardar}} >Guardar</a>
  </div>
</div>
