<div class="card">
  <div class="right-align ">
  <a class="btn-floating waves-effect waves-light red right"  {{action cerrarEstimador}}><i class="material-icons ">close</i></a>
  </div>
    <div class="card-content">

    <span class="card-title center-align">Estimacion de temas </span>

    <div>
      <h4>Reunion del: {{reunion.fecha}}</h4>

    </div>
    <div class="row">
      <div class="col s2 push-l10">
        <label>
          Duración (minutos)
          <div class="input-field ">
            {{input value=duracionDeReunion type="number" class="validate" name="minutos de reunion"}}
          </div>
        </label>
      </div>
      <table class="bordered highlight col s12">
        <thead>
        <tr>
          <th class="col s1">
            #
          </th>
          <th class="col s8">
            Tema
          </th>
          <th class="col s2 ">
            Votos
          </th>
          <th class="right-align col s1">
            -
          </th>
        </tr>
        </thead>

        <tbody>
        {{#each temas as |tema|}}
          <tr class="valign-wrapper">
            <td class="col s8">
              {{tenpines/colored-label value=tema.autor bgColor='green'}}
              <span class="titulo-de-tema">{{tema.titulo}}</span>
              <span> ({{tema.duracion}})</span>
              <p>{{markdown-view value=tema.descripcion}}</p>
            </td>
            <td class="col s2 pull-l1 ">
              {{#if tema.esObligatorio}}
                OBLIGATORIO
              {{else}}
                {{tema.cantidadVotosTotales }} votos
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

  </div>

</div>
