<!--<div class="col s8">-->
  <!--<div class="card" >-->
    <!--<a class="btn-floating waves-effect waves-light red right"  {{!action cerrarMinuta}}><i class="material-icons ">close</i></a>-->


    Formato del template:
    <br>
    <br>
    Fecha: {{minuta.fecha}}
    <br>
    <br>
    Minuteador:
    <br>
    <br>
    Vinieron:   <br>
    {{#each minuta.asistentes as |user|}}
      {{user.name}} <br>
    {{/each}}
    <br>
    <br>
    Temas propuestos:  <br>
    {{#each minuta.temas as |temaDeMinuta|}}
      {{temaDeMinuta.tema.titulo}} <br>
    {{/each}}
    <br>
    <br>
    Action items de la reunion anterior:
    <br>
    <br>
    Detalle de los temas hablados:
    {{#each minuta.temas as |temaDeMinuta|}}
      <br>
      <br>
      Nombre: {{temaDeMinuta.tema.titulo}}
      <br>
      <br>
      Conclusion: <br>
      {{temaDeMinuta.conclusion}}
      <br>
      <br>
      Actions Items:
      <br>
      <br>
      Responsable: Tarea a la que se compromete
    {{/each}}
  <!--</div>-->
<!--</div>-->
