<td class="col s1" >
  {{tema.prioridad}}
</td>
<td class="col s5">
  <span class="titulo-de-tema">{{tema.titulo}}</span>
  <p class="crop">{{markdown-view value=tema.descripcion}}</p>
</td>
<td class="col s2">
  {{tema.autor}}
</td>
<td class="col s2">
  {{tema.duracion}} ({{cantDeMinutosDeDuracionDeTema}} Minutos)
</td >
{{#if tema.esObligatorio}}
  <td class="col s2">OBLIGATORIO</td>
{{else}}
  <td class="col s2">{{tema.cantidadVotosTotales}}</td>
{{/if}}
