<td >
  {{tema.prioridad}}
</td>
<td >
  <span class="titulo-de-tema">{{tema.titulo}}</span>
</td>
<td>
  {{tema.autor}}
</td>
<td>
  {{tema.duracion}}({{cantDeMinutosDeDuracionDeTema}} Minutos)
</td>
{{#if tema.esObligatorio}}
  <td>OBLIGATORIO</td>
{{else}}
  <td>{{tema.cantidadVotosTotales}}</td>
{{/if}}
