<div class="row">

  {{#tenpines/object-table titulos='Id, Fecha, Status, Temas' col=anchoDeTabla bordered=true highlight=true }}
    {{#each model as |reunion|}}
      <tr {{action 'verReunion' reunion}}>
        <td>{{reunion.id}}</td>
        <td>{{reunion.fecha}}</td>
        <td>{{reunion.status}}</td>
        <td>{{reunion.temasPropuestos.length}}</td>
      </tr>
    {{/each}}
  {{/tenpines/object-table}}

  {{# if mostrandoDetalle}}
    <div class="col s8">
      <div class="card">

        <div class="card-content">
          <span class="card-title">Fecha {{reunionSeleccionada.fecha}}</span>

          <div class="row">
            {{#tenpines/object-table titulos='Prioridad, Titulo, Votos' col='s12' }}
              {{#each reunionSeleccionada.temasPropuestos as |tema|}}
                <tr>
                  <td>{{tema.prioridad}}</td>
                  <td>{{tema.titulo}}</td>
                  <td>{{tema.cantidadVotosTotales}}</td>
                </tr>
              {{/each}}
            {{/tenpines/object-table}}
          </div>
        </div>

        <div class="card-action right-align">
          {{tenpines/material-button label='Borrar' click=(action 'borrarReunion' reunionSeleccionada) flat=true}}
          {{tenpines/material-button label='Editar' click=(action 'editarReunion' reunionSeleccionada) }}
        </div>
      </div>

    </div>
  {{/if}}
</div>