{{navigation-bar}}

<div class="row">

  <div class="col s2">
    <h4>Proxima Roots:</h4>
  </div>
  <div class="col s2">
    {{#if editandoFecha}}
      {{tenpines/input-date label='Fecha' value=proximaRoots.fecha}}
    {{else}}
      <h4 {{action "editarFecha" }}>{{proximaRoots.fecha}}</h4>
    {{/if}}
  </div>
  <div class="col s2 offset-s5 valign-wrapper" style="height: 100%">
    {{tenpines/material-button label='Cerrar votacion'}}
  </div>
</div>

<div class="row">
  <table class="bordered highlight">
    <thead>
      <tr>
        <th class="col s9">
          Tema
        </th>
        <th class="col s2">
          Votos ({{votosRestantes}} restantes)
        </th>
        <th class="right-align col s1">
          -
        </th>
      </tr>
    </thead>

    <tbody>
    {{#each proximaRoots.temasPropuestos as |tema|}}
      <tr class="valign-wrapper">
        <td {{action 'sumarVoto' tema}} class="col s9">
          {{tenpines/colored-label value=tema.autor bgColor='green'}}
          <span class="titulo-de-tema">{{tema.titulo}}</span>
          <p>{{tema.descripcion}}</p>
        </td>
        <td class="col s2">
          {{tema.cantidadVotosTotales}} votos
          {{#repetir-pedazo veces=tema.cantidadVotosPropios click=(action 'restarVoto' tema)}} {{materialize/icon-helper 'thumb_up' }} {{/repetir-pedazo}}
        </td>
        <td class="right-align col s1">
          <span {{action 'quitarTema' tema}}>{{materialize/icon-helper 'delete'}}</span>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <a class="btn-floating btn-large waves-effect waves-light red right" {{action 'mostrarFormulario'}}><i
    class="material-icons">add</i></a>

  {{#if mostrandoFormulario}}
    {{editor-de-tema tema=nuevoTema alGuardar=(action 'agregarTema') classNames='col s11'}}
  {{/if}}

</div>