{{navigation-bar}}

<div class="row">
  <div class="col s12">
    <h4>Proxima Roots: 23/10/2016</h4>
  </div>

  {{#tenpines/object-table bordered=true highlight=true titulos='Tema, Votos' col='s12'}}
    {{#each temasPropuestos as |tema|}}
      <tr>
        <td {{action 'sumarVoto' tema}}>
          {{tenpines/colored-label value=tema.autor bgColor='green'}}
          <span class="titulo-de-tema">{{tema.titulo}}</span>
          <p>{{tema.descripcion}}</p>
        </td>
        <td>
          {{tema.cantidadVotosTotales}} votos
          {{#repetir-pedazo veces=tema.cantidadVotosPropios click=(action 'restarVoto' tema)}} {{materialize/icon-helper 'thumb_up' }} {{/repetir-pedazo}}
        </td>
      </tr>
    {{/each}}
  {{/tenpines/object-table}}

  <a class="btn-floating btn-large waves-effect waves-light red right" {{action 'mostrarFormulario'}}><i
    class="material-icons">add</i></a>

  {{#if mostrandoFormulario}}
    {{editor-de-tema tema=nuevoTema alGuardar=(action 'agregarTema') classNames='col s11'}}
  {{/if}}

</div>